/*-------custom---------*/
a {
    color: #53acff;
}

.active {
    color: red;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font: 14px normal Arial, sans-serif;
    color: #626771;
    background-color: #fff;
}

body {
    text-align: center;
}

h1 {
    font-size: 18px;
    margin-bottom: 20px;
}

/*input[type=text], input[type=password] {
    text-align: center;
    font: inherit;
    outline: none;
    display: block;
    color: #7B8585;
}*/
.text_box {
    text-align: center;
    font: inherit;
    border: 6px solid #a3d8d6;
    padding: 13px 12px;
    font-size: 15px;
    box-shadow: 0 1px 1px #DDD;
    width: 384px;
    outline: none;
    display: block;
    color: #7B8585;
    margin: auto;
}

.wrap__btn {
    display: inline-block;
    margin-left: 10px;
}

/*-------end custom---------*/

/*-------about---------*/
ul.list__about {
    list-style: none;
    display: inline-block;
    width: 420px;
    text-align: left;
}

ul.list__about li {
    display: block;
    padding: 15px 20px;
    background-color: #F8F8F8;
    color: #7B8585;
    margin-bottom: 3px;
    position: relative;

    transition: 0.3s;
}

ul.list__about li a {
    position: absolute;
    left: 160px;
    font-size: 12px;
    line-height: 16px;
    color: #969d9d;
}

ul.list__about li:hover {
    background-color: #d8f2f1;
}

/*-------end about---------*/

/*-------services---------*/
#services {
    list-style: none;
    display: inline-block;
    width: 340px;
    text-align: left;
}

#services p {
    display: block;
    padding: 15px 20px;
    background-color: #F8F8F8;
    color: #7B8585;
    margin-bottom: 3px;
    position: relative;
    cursor: pointer;

    transition: 0.3s;
}

#services p b {
    position: absolute;
    right: 28px;
    line-height: 16px;
    width: 100px;
    color: #808787;
    text-align: right;
}

#services p:hover {
    background-color: #d8f2f1;
}

#services p.active {
    color: #fff;
    background-color: #41c7c2;
}

#services p.active b {
    color: #fff;
}

#total {
    background: none !important;
    cursor: default !important;
    padding-top: 10px !important;
}

/*-------end service---------*/

/*-------cars---------*/
.items {
    margin: 10px;
}

.items .list__group {
    width: 50%;
    margin: auto;
}

.items .item {
    display: block;
}

.items .wrap_item .des__img {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.items .des__img .name__item {
    color: #5bc0de;
}

.items .wrap_item {
    margin: auto;
    position: relative;
    margin-bottom: 10px;
}

.items .image_item {
    width: 100%;
    /* max-width: 250px;*/
    height: auto;
}

.wrap_item:hover .wrap__btn {
    display: inline-block;
}

.search-car {
    display: inline-block;
}

.wrap__btn .btn__add {
    border-radius: 50%;
    padding: 10px;
    background: #5bc0de;
    font-size: 45px;
    color: #fff;
    line-height: 25px;
}

/*-------end card---------*/

/*-------popup---------*/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    z-index: 1;
    /* visibility: hidden;
     opacity: 0;*/
}

/*.overlay:target {
    visibility: visible;
    opacity: 1;
}*/
#popup{
    display: none;
}
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 1s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
}

.wrap-input-group {
    width: 250px;
    margin: 0px auto;
    display: block;
}
.wrap-input-group .input-group {
   z-index: 0;
}

.table--custom {
    width: 50% !important;
    margin: auto;
    border: 1px solid #ddd;
    margin-top: 10px;
}

.table--th--custom th {
    text-align: center;
}

.table--tr--custom td {
    vertical-align: middle !important;
}

.table--tr--custom td:first-child {
    font-style: italic;
}

@media screen and (max-width: 700px) {

    .popup {
        width: 70%;
    }
}
/*-------end popup--------*/